/* element selector */
div{
    background-color: red;
}

/* class selector */
.red{
    background-color: yellow;
}

/* id selector */
#green{
    background-color: green;
}

/* child selector */
/* for direct child after div*/
div > p {
    color: blue;
    background-color: aqua;
}

/* descendant selector */
/* p can be deep inside it will work */
div p{
    color: blue;
    background-color: aqua;
}

/* universal selector */
*{
    margin: 0;
    padding: 0;
}

/* Pseudo selector */
a:visited{
    color: yellow;
}
/* not visited */
a:link{
    color: green;
}
a:active{
    border-color: red;
}
a:hover{
    background-color: black;
}

p:first-child{
    border-color: aqua;
}